<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>MangaSphere</title>
</head>
<body>
<h2>MangaSphere</h2>
  <nav>
    <ul>
      <li><a href="/member">Home</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
        <div class="logout">
          <a href="/">Logout</a>
        </div>
  </nav>

  <form action="/member" method="GET">
    <label for="searchType">Search by:</label>
    <select name="searchType" id="searchType">
      <option value="title">Title</option>
      <option value="genre">Genre</option>
    </select>
    <label for="search">Search:</label>
    <input type="text" name="search" id="search">
    <button type="submit">Search</button>
  </form>

    <div class="pictures">
    <% mangas.forEach((m)=> {%>
      <a href="/mangas/member/<%=m._id%>">
      <img src="<%=m.picture%>" class="mpicture">
      <label>Title: <%=m.title%></label>
      </a>
        <% }) %>
        </div>
         
</body>
</html>
